* {

  scrollbar-width: thin;

  scrollbar-color: gray ;

}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {

  width: 5px;

}



*::-webkit-scrollbar-track {

  background: transparent;

}



*::-webkit-scrollbar-thumb {

  background-color: gray;

  border-radius: 20px;

 

}